:root {
  --bar-width: 10px;
  --bar-max-height: 150px;
  --bar-gap: 10px; /* Reduced gap between bars */
  --bar-color: #004b23;
  --highlight-color: #57f01a;
  --background-light: #c6ffba;
  --background-dark: #3d3d3d;
  --text-color: #dcdcdc;
  --label-color: black; /* New variable for label color */
}

body {
  background-color: var(--background-light);
}

.chart-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--background-dark);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

#category-select {
  padding: 5px;
  font-size: 14px;
  background-color: var(--background-dark);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--background-light);
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 25px;
  gap: var(--bar-gap);
}

.bar {
  width: var(--bar-width);
  height: calc(var(--value) * var(--bar-max-height));
  background-color: var(--bar-color);
  border-radius: 20px;
  position: relative;
  transition: background-color 0.3s ease;
}

.bar::before {
  content: attr(data-label);
  position: absolute;
  bottom: -20px; /* Increased bottom to add space between bar and label */
  left: 50%;
  transform: translateX(-50%);
  color: var(--label-color); /* Applied label color */
  font-size: 13px;
}

.bar::after {
  content: calc(var(--value) * 100) '%';
  position: absolute;
  top: -30px; /* Increased top to add space between bar and label */
  left: 50%;
  transform: translateX(-50%);
  color: var(--label-color); /* Applied label color */
  font-size: 12px;
}

.bar:hover {
  background-color: var(--highlight-color);
}

@media (max-width: 600px) {
  .chart-wrapper {
    padding: 10px;
  }

  .bar::before, .bar::after {
    font-size: 10px;
  }
}
