body {
    background-color: #3d3d3d;
    color: white;
    font-family: Arial, sans-serif;
  }

  .container {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
  }

  #hello{
    display: none;
  }

  .grid-header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .habit-grid {
    display: grid;
    grid-template-columns: 0.5fr repeat(7, 1fr); /* Reduced space for habit name */
    gap: 7px;
    margin-top: 10px;
  }
  

  .day-item {
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #2e2e2e;
    color: #fff;
  }

  .day-name {
    height: 40px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #3d3d3d;
    color: #fff;
  }

  .habit-name {
    display: flex;
    /* max-width: 50px; */

    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    /* font-weight: bold; */
    background-color: #3d3d3d;
    border-radius: 15px;
  }

  /* Highlight Completed Days */
  .day-completed {
    content: "";
    background-color: #c6ffba;
    color: #3d3d3d;
    border: 2px solid #555;
    font-weight: bold;
  }

  .day-completed::before {
     /* Checkmark */
    color: #000;
    font-weight: bold;
  }

  .day-item:not(.day-completed):hover {
    background-color: #637f6fa5;
    transition: all 0.2s ease;
  }

  /* Bottom buttons for Year, Month, Week, Day */
  .view-selector {
    display: none;
    justify-content: space-around;
    margin-top: 10px;
  }

  .view-selector button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
  }

  .view-selector button.active {
    background-color: #5ec4ff;
    color: black;
  }

  .challenges-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .challenges-header h2 {
    margin: 0;
  }

  .challenges-header span {
    font-size: 0.9rem;
    opacity: 0.8;
  }
  .habit-tracker-div{
    background-color: #3d3d3d;
  }