body{
  background-color: #28542e !important;
  font-family: 'poppins', sans-serif !important;
}


html, body {
  height: 100%;
  margin: 0;
  display: flex;

}

.habit-hustle{
  font-size: 60px ;
  font-weight: 700;
  /* font-stretch: extra-expanded; */
  border-radius: 33px;
  line-height: 1;
  /* height: 20px; */
  

}
