
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:"Poppins" ;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #d3d3d3; */
    padding: 10px 20px;
   
}
.navbar .logo {
    font-size: 0.5em;
    font-weight: bold;
}
.navbar .user-icon {
    font-size: 1.5em;
}
